<style>
   .MainAlertArea {
    padding: 1%;
    display:flex;
    align-items: stretch;
    align-content: stretch;
    gap: 15px;
    height: 500px;
  }
</style>

<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1 eren </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row class="MainAlertArea">
     
    </ion-row>
  </ion-grid>


</ion-content>